
    <nav class="navbar navbar-expand-lg border-none bg-light-gray nav-scroll">
       <!-- start logo -->
      
      <!-- end Logo -->

      <div class="container sm-padding-10px-tb sm-padding-15px-lr">
          <a class="logo active" href="javascript:void(0);" data-scroll-nav="0">
              <img id="logo" src="assets/img/logo-victor.png" alt="Victor Richtmann - One Page Portfolio" title="Victor Richtmann - One Page Portfolio">
          </a>
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"><i class="fas fa-bars"></i></span>
          </button> -->

          <!-- navbar links -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="true" aria-label="Toggle navigation">
              <a href="javascript:void(0)" class="sidemenu_btn sm-display-none" id="sidebar_toggle">
                  <span></span> <span></span> <span></span>
              </a>
          </button>
          <div class="collapse navbar-collapse show" id="navbarContent">
              <ul class="navbar-nav ml-auto" >
                  <li class="nav-item">
                      <a class="nav-link" (click)="clickHome()" [ngClass]="home" href="javascript:void(0);" data-scroll-nav="0">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" (click)="clickAbout()" [ngClass]="abouth" href="javascript:void(0);" data-scroll-nav="1">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" (click)="clickPortfolio()"[ngClass]="portifolio" href="javascript:void(0);" data-scroll-nav="3">Portfolio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" (click)="clickContact()" [ngClass]="contact" href="javascript:void(0);" data-scroll-nav="6">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- end navbar links -->
      </div>
      
     
      
      <!-- <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <a href="javascript:void(0)" class="sidemenu_btn sm-display-none" id="sidebar_toggle">
              <span></span> <span></span> <span></span>
          </a>
      </button> -->
     

  </nav>
  