<section data-scroll-index="1" id="aboutSection" >
  <div class="container">
      <div class="row">
          <div class="col-12 center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
              <h2 class="font-size34 md-font-size30 sm-font-size26 xs-font-size24 font-weight-700 section-title">About Me</h2>
          </div>
      </div>
      <div class="row">
          <!-- start about me section-->
          <div class="col-lg-6 col-md-12 sm-margin-30px-bottom">
              <p class="font-size15 xs-font-size14">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from</p>
             
          </div>
          <!-- end about me section-->

          <!-- start skill section-->
          <div class="col-lg-6 col-md-12">
              <div class="padding-20px-left sm-no-padding">
                  <div class="skills width-100 margin-40px-bottom sm-margin-30px-bottom xs-no-margin-bottom">

                      <div class="prog-item">
                        <p>Unity 3D</p>
                        <div class="skills-progress"><span data-value="65%" style="width: 65%;"></span></div>
                      </div>
                      <div class="prog-item">
                        <p>HTML5</p>
                        <div class="skills-progress"><span data-value="75%" style="width: 75%;"></span></div>
                      </div>
                      <div class="prog-item">
                        <p>Scorm 1.2</p>
                        <div class="skills-progress"><span data-value="80%" style="width: 80%;"></span></div>
                      </div>
                      <div class="prog-item">
                        <p>Angular</p>
                        <div class="skills-progress"><span data-value="40%" style="width: 40%;"></span></div>
                      </div>
                      <div class="prog-item">
                        <p>Flixel/Phaser</p>
                        <div class="skills-progress"><span data-value="80%" style="width: 80%;"></span></div>
                     </div>

                  </div>
              </div>
          </div>
          <!-- end skill section-->

          <div class="container">
              <div class="buttonCenter" >
                  <button type="submit" class="btn white mfProgress"><span class="cnt">Download My CV</span><span class="loader"></span><span class="msg"></span></button>
                <!-- <a class="btn btn-primary" href="javascript:void(0);" style="float: right">
                    <i class="fas fa-arrow-alt-circle-down font-size16"></i>
                    <span class="alt-font margin-5px-left">Download My CV</span>
                </a> -->
              </div>
          </div>


      </div>
  </div>
</section>