<!-- <div class="col-lg-4 col-sm-6 col-sm-6 col-xs-12 items mobille "> -->
  <div class="text-center width-100">
      <div class="item-img">
          <img src="assets/img/portfolio/{{productImg}}.jpg" alt="image">
          <div class="item-img-overlay valign">
              <div class="overlay-info width-100 vertical-center">
                  <a #popup1 class="popimg" data-toggle="modal" id="{{productImg}}" ><!--data-target={{teste}}-->
                    <button class="iconBoxBT">
                      <i class="fa fa-search-plus"> </i>
                      <input id="header_search_query" type="search" name="header_search_query" value="" placeholder="     {{courseName}}" class="input-reset color-inherit input-focus all-animate br-pill ph4 sans-serif header-search-input ba bw1 bg-gray1 b--gray1">
                    </button>
                  </a>
              </div>
          </div>
      </div>
  </div>
<!-- </div> -->