.iconBoxBT{
    background-color: transparent;
    border: none;
}

.width-100 {
    width: 100%;
}

.text-center{
    margin-top: 30px;
}

.items {
    margin-top: 30px;
}

.item-img img {
    width: 100%;
}

.item-img {
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}

.input-reset{
    font-weight: 600;
    position: relative;
    font-size: 16px;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
    margin-left: -29px;
    /* margin-top: 6px; */
    z-index: -1;
    border-radius: 30px;
    border-color: black;
    pointer-events: all;
    cursor: pointer;
}

.item-img .fa {
    background: #232323;
    border: 1px solid #232323;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    width: 30px;
    margin-bottom: 5px;
    transition: all .5s;
    pointer-events: all;
}

.item-img-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: all .5s;
    z-index: 2;
    transform: translateY(10px);
    border: solid 2px;
    border-image: linear-gradient(#1c1c1c, #474747) 30;
    pointer-events: none;
}

.item-img:hover .item-img-overlay {
    opacity: 1;
    transform: translateY(0);
    
}

.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
